@model mvc_energy_plants.Models.ProjectStopLog

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Project Log</h1>
<a class="btn btn-primary"
   asp-controller="Projects"
   asp-action="Details"
   asp-route-id="@Model.ProjectId"><i class="material-icons">arrow_back</i></a>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <input asp-for="ProjectId" class="form-control" />
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopDate" class="control-label"></label>
                <input asp-for="StopDate" class="form-control" />
                <span asp-validation-for="StopDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classification" class="control-label"></label>
                <input asp-for="Classification" class="form-control" />
                <span asp-validation-for="Classification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cause" class="control-label"></label>
                <input asp-for="Cause" class="form-control" />
                <span asp-validation-for="Cause" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action" class="control-label"></label>
                <input asp-for="Action" class="form-control" />
                <span asp-validation-for="Action" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
